<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO</title>
</head>
<body>
    <H1>ERRO: <%=err%></H1>
    <img src="Ideas_Surprised_Pikachu_HD.webp">
</body>
</html>